.header{
    grid-area: head;
    background-color: #2d2a2a;
}

.header img {
    width: 50px;
    border-radius: 20px;
}

.loginBlock{
    float: right;
}
a{
    color: white;
    text-decoration: none;
}