@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

.app-wrapper{
  width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-areas: 'head head'
'nav cont';

  grid-template-rows: 80px 1fr;
  grid-template-columns: 2fr 10fr;
  grid-gap: 0.5em;

  /*grid-column-gap: 0.5em;*/
  /*grid-row-gap: 0.5em;*/

}

.app-wrapper-content{
  grid-area: cont;
  /*background-color: cornflowerblue;*/
}


.header img{
  width: 30px;
}